[Unit]
Description=System tray icon for NordVPN

[Service]
Type=simple
ExecStartPre=/bin/sleep 10
ExecStart=/usr/sbin/nordvpn-system-tray
Restart=no

[Install]
WantedBy=default.target
